---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero2 from '../../components/Hero2.astro';
import Services from '../../components/Services.astro';
import About from '../../components/About.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="MarketingPro - Transform Your Brand to the Next Level" lang="en">
	<Header />
	<main>
		<Hero2 lang="en" />
		<Services />
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>
